.time-input-container {
    display: inline-block;
    position: relative;
}

.presented-time {
    position: absolute;
    pointer-events: none;
}

.time-input {
    color: transparent;
}

.time-input::selection {
    background: transparent;
    color: transparent;
}